* {
    box-sizing: border-box;
    text-align: center;
    font-size: 24px;
  }

  body {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 12px;
      color: white;
      line-height: 25px;
      background: maroon;
      margin:10px;
      padding: 10px;
  }

  H1 {
    Font-size: 36px;
  }

  Nav{
      display:grid;
      grid-template-columns: 1 fr;
      float:left;
      margin: 3%;
      padding 5px;

  }

  .aboutMe {
      display:block;
      float: left;
  }